:root {
    --bg-color: #e0e0e0;
    --text-color: #000000;
    --primary-color: #eeeeee;
    --secondary-color: #f3f3f3;
}

.darkmode {
    --bg-color: #2c2c2c;
    --text-color: #ffffff;
    --primary-color: #4a4a4a;
    --secondary-color: #3a3a3a;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
